h2 {
    color: white;
    text-align: center;
  }
  label {
    color: white;
    margin-right: 10px;
  }
  
  .folderDiv{
    width: 25%;
  }
  
  form {
    /* width: 25%; */
    margin-top: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  
  .addFolderButtons {
    justify-content: space-evenly;
  }